<div class="row">
    <div class="col-md-3 mb-5 animate__animated animate__fadeIn" *ngFor="let plataforma of plataformas">
        <img (click)="onDetalle(plataforma)" src="assets/no-image.png" alt="" class="img-fluid poster">
        <div>
            <h3 style="text-align: center;">
                {{plataforma.nombre}}
            </h3>
            <div class="row">
                <div class="col-10 text-white">

                    <star-rating [value]="10" [totalstars]="10" checkedcolor="yellow" uncheckedcolor="grey" size="14px" [readonly]="false">

                    </star-rating>
                </div>
            </div>
        </div>
    </div>
</div>