<h4>Formulario <small> Video Juegos </small></h4>
<hr>
<form class="row g-3" [formGroup]="validacionForm">
    <!-- <pre>{{validacionForm.value | json}}</pre>
    <pre>{{validacionForm.valid | json}}</pre> -->
    <div class="col-12">
        <label for="titulo" class="form-label">Título</label>
        <input type="text" class="form-control" formControlName="titulo" id="titulo" placeholder="Título del video juego">
    </div>
    <div class="col-12">
        <label for="cantidad" class="form-label">Cantidad</label>
        <input type="text" class="form-control" formControlName="cantidad" id="cantidad" placeholder="Cantidad">
    </div>
    <div class="col-12">
        <label for="fechaSalida" class="form-label">Fecha Salida</label>
        <input type="date" class="form-control" formControlName="fechaSalida" id="fecha" placeholder="">
    </div>
    <div class="col-12">
        <label for="precio" class="form-label">Precio</label>
        <input type="text" class="form-control" formControlName="precio" id="precio" placeholder="Precio">
    </div>
    <div class="col-12">
        <label for="fechaSalida" class="form-label">Plataformas</label>
        <select class="form-select" aria-label="Default select example" formControlName="plataforma">
            <!-- <option selected [value]="null"> seleccione plataforma</option> -->
            <option *ngFor="let plataforma of plataformas" [value]="plataforma.id" >{{plataforma.nombre}}</option>
        </select>
    </div>
    <div class="col-12">
        <label for="fechaSalida" class="form-label">Empresas Desarrolladoras</label>
        <select class="form-select" aria-label="Default select example" formControlName="empresaDesarrolladora">
            <option *ngFor="let empresa of empresas" [value]="empresa.id" >{{empresa.nombre}}</option>
        </select>
    </div>

    <div class="col-12">
        <button type="button" (click)="enviarForm()" class="btn btn-primary" [disabled]="!validacionForm.valid">Guardar</button>
    </div>
</form>
<hr>