<button type="button" class="btn btn-primary position-relative" (click)="lista()">
    Carrito
    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
      {{contador}}
      <span class="visually-hidden">unread messages</span>
    </span>
  </button>