<h4>Formulario <small> Usuario </small></h4>
<hr>
<form class="row g-3" [formGroup]="validacionForm">
    <!-- <pre>{{validacionForm.value | json}}</pre>
    <pre>{{validacionForm.valid | json}}</pre> -->
    <div class="col-12">
        <label for="nro_identificacion" class="form-label">Número de Identificación</label>
        <input type="text" class="form-control" formControlName="nro_identificacion" id="nro_identificacion" placeholder="Número de Identificación">
    </div>
    <div class="col-12">
        <label for="cantinombresdad" class="form-label">Nombres</label>
        <input type="text" class="form-control" formControlName="nombres" id="nombres" placeholder="Nombres">
    </div>
    <div class="col-12">
        <label for="apellidos" class="form-label">Apellidos</label>
        <input type="text" class="form-control" formControlName="apellidos" id="apellidos" placeholder="Apellidos">
    </div>
    <div class="col-12">
        <label for="celular" class="form-label">Celular</label>
        <input type="text" class="form-control" formControlName="celular" id="celular" placeholder="Celular">
    </div>
    <div class="col-12">
        <label for="correo" class="form-label">Correo</label>
        <input type="text" class="form-control" formControlName="correo" id="correo" placeholder="Correo">
    </div>

    <div class="col-12">
        <button type="button" (click)="envarForm()" class="btn btn-primary" [disabled]="!validacionForm.valid">Guardar</button>
    </div>
</form>

<hr>