<div class="row animate__animated animate__fadeIn" *ngIf="juego">
    <div class="col-md-6">
        <img src="assets/no-image.png" [alt]="juego.titulo" class="img-thumbnail">
    </div>
    <div class="col-md-6">
        <h3>{{juego.titulo}}</h3>
        <div class="row mt-2">
            <div class="col text-white">
                {{juego.cantidad}}
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <button class="btn btn-outline-info" (click)="onRegresar()">
              Regresar
            </button>
            </div>
        </div>
    </div>
</div>