<!-- Slider de peliculas -->
<div class="row" *ngIf="juegos && juegos.length > 0 ">
    <div class="col">
        <app-carousel [juegos]="juegos"></app-carousel>
    </div>
</div>

<h1 class="mt-5">Plataformas</h1>
<hr>
<app-lista-plataformas *ngIf="plataformas && plataformas.length > 0 " [plataformas]="plataformas"></app-lista-plataformas>