<h1 class="mt-5">Empresas de Desarrollo</h1>
<hr>
<div class="row">
    <div class="col-md-3 mb-5 animate__animated animate__fadeIn" *ngFor="let empresa of empresas">
        <img (click)="litaJuegos(empresa)" src="assets/no-image.png" alt="" class="img-fluid poster">
        <div>
            <h3 style="text-align: center;">
                {{empresa.nombre}}
            </h3>
            <div class="row text-center">
                <div class="col-12 text-white">
                    <a class="btn btn-primary" (click)="detalleEmpresa(empresa)">Ver Detalle</a>

                </div>
            </div>
        </div>
    </div>
</div>