<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="inicio">Tienda Online - Video Juegos</a>
        <button class="btn btn-outline-success me-2" type="button" (click)="onAdminVideoJuegos()"> Admin Video Juegos</button>
        <button class="btn btn-outline-success me-2" type="button" (click)="onRegistrarseUsuario()">Registrarse Usuario</button>
    </div>
    <div class="row">
        <div class="col-auto">
            <app-carrito-compra></app-carrito-compra>
        </div>

    </div>

</nav>