<h1 class="mt-5">Video Juegos</h1>
<hr>
<div class="row">
    <div class="col-md-3 mb-5 animate__animated animate__fadeIn" *ngFor="let juego of juegos">
        <img src="assets/no-image.png" alt="" class="img-fluid poster">
        <div>
            <h3 style="text-align: center;">
                {{juego.titulo}}
            </h3>
            <div class="col-12 text-black" style="text-align: center;">
                Precio: {{juego.precio | currency}}
                <br> Disponibles: {{juego.cantidad}}

            </div>
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="col-6 mb-2">
                        <input type="number" id="#" placeholder="" [min]="0" #cantidad>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-5">
                            <button style="text-align: center;" type="button" (click)="comprar(cantidad.value, juego.id) " class="btn btn-primary">Comprar</button>
                        </div>
                        <div class="col-7">
                            <button style="text-align: center;" type="button" (click)="detalleJuego(juego)" class="btn btn-primary">Ver Detalle</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>