<table class="table">
    <thead>
        <tr>
            <th scope="col">Video Juego</th>
            <th scope="col">Cantidad</th>
            <th scope="col">SubTotal</th>
            <th scope="col">Acción</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let registro of carrito?.registros">
            <th scope="row">{{registro.videoJuego.titulo}}</th>
            <td>{{registro.cantidad}}</td>
            <td>{{registro.precioTotal | currency}}</td>
            <td><button (click)="eliminar(registro.id)">eliminar</button></td>
        </tr>
        <tr>
            <th colspan="3">Total</th>
            <td>{{total | currency}}</td>
        </tr>
    </tbody>
    <button (click)="confirmar(carrito?.id)">Confirmar Compra</button>
</table>