<!-- <div class="row animate__animated animate__fadeIn" *ngIf="empresa">
    <div class="col-md-6">
        <img src="assets/no-image.png" [alt]="empresa.nombre" class="img-thumbnail">
    </div>
    <div class="col-md-6">
        <h3>{{empresa.nombre}}</h3>
        <div class="row mt-2">
            <div class="col text-white">
                {{empresa.descripcion}}
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <button class="btn btn-outline-info" (click)="onRegresar()">
              Regresar
            </button>
            </div>
        </div>
    </div>
</div> -->