<div class="row">
    <div class="col-8">
        <h1 class="mt-5">Administación - Video Juegos</h1>
    </div>
    <div class="col-4 mt-5"><button class="btn btn-outline-success me-2" type="button" (click)="onRegistroJuego()">Registrar Juego</button></div>
</div>

<hr>
<div class="row">
    <div class="col">
        <input (keyup)="filtrarXNombre()" [(ngModel)]="filtroNombre" class="form-control me-2" type="search" placeholder="Nombre..." aria-label="Nombre">
    </div>
    <div class="col">
        <select (change)="filtrarXPlataforma()" [(ngModel)]="filtroPlataforma" class="form-select" aria-label="Default select example">
            <option value="">Plataforma...</option>
            <option *ngFor="let plataforma of plataformas" [value]="plataforma.id">{{plataforma.nombre}}</option>
        </select>
    </div>
    <div class="col">
        <input (keyup)="filtrarXPrecio()" [(ngModel)]="filtroPrecio" class="form-control me-2" type="search" placeholder="Precio menor que..." aria-label="Precio menor que...">
    </div>
    <div class="col">
        <select (change)="filtrarXEmpresa()" [(ngModel)]="filtroEmpresa" class="form-select" aria-label="Default select example">
            <option value="">Empresa desarrolladora...</option>
            <option *ngFor="let empresa of empresas" [value]="empresa.id">{{empresa.nombre}}</option>
        </select>
    </div>

</div>
<div class="row">
    <div class="col-md-3 mb-5 animate__animated animate__fadeIn" *ngFor="let juego of juegosFiltados">

        <img src="assets/no-image.png" alt="" class="img-fluid poster">
        <div>
            <h3 style="text-align: center;">
                {{juego.titulo}}
            </h3>
            <div class="col-12 text-black" style="text-align: center;">
                Precio: {{juego.precio | currency}}
                <br> Disponibles: {{juego.cantidad}}

            </div>
        </div>
    </div>
</div>